@model BIT_240048.Models.DishImage_BIT240048

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DishImage_BIT240048</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThumbnail)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dish)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
